---
import BlogLayout from '@layouts/BlogLayout'
import MainNav from '@components/MainNav'
import Post from '@components/Post'
import { getPostSlugFromFile } from "@helpers/postUrl";

import '@styles/main.css'

export async function getStaticPaths({ paginate, rss }) {
	let allPosts = [];
	try {
		allPosts = await Astro.glob('../../content/posts/*.md');
	} catch (e) {
		console.log(e);
	}

	// Generate an RSS feed from this collection of posts.
	// NOTE: This is disabled by default, since it requires `site` to be set in your "astro.config.mjs" file.
	//   rss({
	//     title: 'Don\'s Blog',
	//     description: 'An example blog on Astro',
	//     customData: `<language>en-us</language>`,
	//     items: sortedPosts.map(item => ({
	//       title: item.title,
	//       description: item.description,
	//       link: item.url,
	//       pubDate: item.date,
	//     })),
	//   });

	// Return a paginated collection of paths for all posts
	const posts = allPosts.map(post => ({
    params: { post: getPostSlugFromFile(post.file) },
    props: { post },
  }));

  return posts;
}

const { post: { Content, ...post }  } = Astro.props;
---
<BlogLayout>
	<MainNav slot='navigation' current={'/posts'} />
  <main>
    <Post post={post}><Content /></Post>
	</main>
</BlogLayout>
