@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 85.9%;
    --muted-foreground: 240 3.8% 36.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.3rem;
    --code: 0 0% 100%;
    --code-foreground: 70 5% 21%;
    --link: 217 91% 60%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 25%; /* Increased lightness from 15.9% to 25% */
    --muted-foreground: 240 5% 75%; /* Increased lightness from 64.9% to 75% */
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --code: 0 0% 7.1%;
    --code-foreground: 39 20% 82.5%;
    --link: 199 89% 48%;
  }

  html.light .shiki,
  html.light .shiki span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
    /* Optional, if you also want font styles */
    font-style: var(--shiki-light-font-style);
    font-weight: var(--shiki-light-font-weight);
    text-decoration: var(--shiki-light-text-decoration);
  }

  html.dark .shiki,
  html.dark .shiki span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style);
    font-weight: var(--shiki-dark-font-weight);
    text-decoration: var(--shiki-dark-text-decoration);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html,
  body {
    @apply bg-background text-foreground;
  }

  [hidden] {
    display: none !important;
  }

  .article-body *:first-child,
  .section *:first-child {
    @apply mt-0;
  }

  .light .social-icon {
    @apply invert;
  }

  .dark .social-icon {
    @apply invert-0;
  }
}
